.text-primary {
  color: rgb(36, 248, 238) !important;
  /* text-shadow: 0px 0px 4px #8bfff1; */
}

.btn-primary {
  background-color: rgb(107, 251, 244);
  border-radius: 25px;
  border: none;
  box-shadow: 0 0 0 #333;
}

.bg-info {
  background-color: rgb(107, 251, 244) !important;
}

.btn-primary:hover {
  background-color: rgb(107, 234, 228);
}

ion-icon {
  font-size: 24px;
}

.hidden {
  display: none;
}

@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
    margin: 0 auto;
  }
}
